.row-content{
    text-align: justify;
    margin-top: 200px;
}
.text-content{
    font-family: DM Sans;
font-size: 36px;
font-weight: 700;
line-height: 36px;
letter-spacing: -0.0728em;
text-align: left;
margin-left: 215px;
color: white;
}
.text-content-1{
    font-family: DM Sans;
font-size: 28px;
font-weight: 700;
line-height: 20px;
letter-spacing: -0.0728em;
text-align: left;
}
.text-content-2{
    
position: absolute;


font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 56px;
/* or 100% */

margin-left: 390px;

letter-spacing: -0.0728em;
}
.text-content-color,.text-content-color1{
    color: #FDBA2F;
}
.row-content-1{
    margin-top: 50px;
    margin-bottom: 200px;
    color: white;
    height: 100px;
}
.row-content-2{
 


font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 18px;
/* or 75% */


height: 50px;
letter-spacing: -0.01em;

color: #FFFFFF;
}

.buttonscroll{
    width: 220px;
    height: 45px;

text-align: center;
align-items: center;

background: #FDBA2F;
border-radius: 10px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 18px;
margin-left: 205px;
padding: 7px;
}
.scrolling{
    text-align: center;
align-items: center;
}
.row-content-3{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* or 100% */
letter-spacing: -0.01em;
color: #FFFFFF;
}
.content-3{
    text-align: right;
}
.content-3-1{
    text-align: left;
}
.yellow-text-content{
    color: #FDBA2F;
}
.lineend{
    height: 200px;
}