
.text-1{
    color:  #FDBA2F;
    font-family: DM Sans;
font-size: 56px;
font-weight: 700;
line-height: 38px;
letter-spacing: -0.0428em;
text-align: left;
}
.statement{
    font-family: DM Sans;
font-size: 28px;
font-weight: 500;
line-height: 38px;
letter-spacing: -0.0428em;
text-align: left;
color: white;
}




.col1{
    background-color: rgb(60, 59, 59);
    height: 300px;
    border-radius: 9px;
    width: 805px;
    margin-left: 220px;
    margin-top: 107px;
   
 
}
.number{

    margin-right: 710px;
font-family: 'Michroma';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 77px;
/* or 138% */
color: #FDBA2F;
}
.circle{

    border-radius: 100%;
    background: #3F3F40;
    height: 197px;
    width: 207px;
    margin-left: 703px;
    margin-top: -153px;
    text-align: center;
}
.circletext{
    color: #fff;
}
.cardtext{
    margin-left: 85px;
}
.cardtext1{
    font-family: DM Sans;
font-size: 32px;
font-weight: 500;
line-height: 36px;
letter-spacing: -0.0728em;
text-align: left;
color: #fff;
}
.cardtext2{
    font-family: DM Sans;
font-size: 24px;
font-weight: 400;
line-height: 28px;
letter-spacing: -0.0528em;
text-align: left;

color: #fff;
}
.button1:hover{
   background-color: #FDBA2F;
}
.button2:hover{
    background-color: #FDBA2F;
 }
 .button1{
    margin-right: 68px;
    margin-top: 10px;
 }
.button2{
    margin-left: 30px;
    margin-top: 10px;
}

/* .card1,.card2,.card3,.card4,.card5,.card6{
  
} */
.maincard{
    position:relative;
   

}
.main{
   position: relative;
    margin-bottom: 400px;
}
